#item {
    height: 25%;
    width: 80%;
    margin: 5% 10%;
    padding: 5%;
    border-radius: 10%;
}

#item h1 {
    width: 50%;
    cursor: pointer;
}

#item h3 {
    width: 50%;
    cursor: default;
}

#item img {
    height: 150%;
    width: 25%;
    margin-top: -15%;
    float: right;
}